<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>anasayfa</servlet-name>
        <servlet-class>web.anasayfa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kullaniciListesi</servlet-name>
        <servlet-class>web.kullaniciListesi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yetki</servlet-name>
        <servlet-class>web.yetki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parametre</servlet-name>
        <servlet-class>web.parametre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odaDurum</servlet-name>
        <servlet-class>web.odaDurum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odaManzara</servlet-name>
        <servlet-class>web.odaManzara</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odaTipi</servlet-name>
        <servlet-class>web.odaTipi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odaListesi</servlet-name>
        <servlet-class>web.odaListesi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>musteriListesi</servlet-name>
        <servlet-class>web.musteriListesi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervasyonListesi</servlet-name>
        <servlet-class>web.rezervasyonListesi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otelRezervasyon</servlet-name>
        <servlet-class>web.otelRezervasyonIslemleri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otel</servlet-name>
        <servlet-class>web.otel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anasayfa</servlet-name>
        <url-pattern>/anasayfa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kullaniciListesi</servlet-name>
        <url-pattern>/kullaniciListesi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yetki</servlet-name>
        <url-pattern>/yetki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parametre</servlet-name>
        <url-pattern>/parametre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odaDurum</servlet-name>
        <url-pattern>/odaDurum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odaManzara</servlet-name>
        <url-pattern>/odaManzara</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odaTipi</servlet-name>
        <url-pattern>/odaTipi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odaListesi</servlet-name>
        <url-pattern>/odaListesi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>musteriListesi</servlet-name>
        <url-pattern>/musteriListesi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervasyonListesi</servlet-name>
        <url-pattern>/rezervasyonListesi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otelRezervasyon</servlet-name>
        <url-pattern>/rezervasyonIslemleri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otel</servlet-name>
        <url-pattern>/otel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30 </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
